{
    "name": "{{VENDOR_NAME_LOWERCASE}}/{{MODULE_NAME_LOWERCASE}}",
    "description": "Created by ProcessEight_ModuleManager",
    "type": "magento2-module",
    "version": "1.0.0",
    "license": [
        "proprietary"
    ],
    "autoload": {
        "files": [
            "registration.php"
        ],
        "psr-4": {
            "{{VENDOR_NAME}}\\{{MODULE_NAME}}\\": ""
        }
    }
}
