<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- 6 PLUGINS for Magento\Framework\App\Action\Action class -->
    <type name="Magento\Framework\App\Action\Action">
        <plugin name="m2studygroupunit1_m2studygroupunit1_pluginsorder_magento_framework_app_action_action_before7"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Magento\Framework\App\Action\Action\Before7"
                sortOrder="7"/>
        <plugin name="m2studygroupunit1_m2studygroupunit1_pluginsorder_magento_framework_app_action_action_before11"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Magento\Framework\App\Action\Action\Before11"
                sortOrder="11"/>
        <plugin name="m2studygroupunit1_m2studygroupunit1_pluginsorder_magento_framework_app_action_action_around9"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Magento\Framework\App\Action\Action\Around9"
                sortOrder="9"/>
        <plugin name="m2studygroupunit1_m2studygroupunit1_pluginsorder_magento_framework_app_action_action_around12"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Magento\Framework\App\Action\Action\Around12"
                sortOrder="12"/>
        <plugin name="m2studygroupunit1_m2studygroupunit1_pluginsorder_magento_framework_app_action_action_after10"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Magento\Framework\App\Action\Action\After10"
                sortOrder="10"/>
        <plugin name="m2studygroupunit1_m2studygroupunit1_pluginsorder_magento_framework_app_action_action_after13"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Magento\Framework\App\Action\Action\After13"
                sortOrder="13"/>
    </type>
    <!-- 6 PLUGINS for Controller\Index\Index class -->
    <type name="M2StudyGroupUnit1\PluginsOrder\Controller\Index\Index">
        <plugin name="m2studygroupunit1_pluginsorder_magento_framework_app_action_action_before1"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Controller\Index\Index\Before1"
                sortOrder="1"/>
        <plugin name="m2studygroupunit1_pluginsorder_magento_framework_app_action_action_around2"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Controller\Index\Index\Around2"
                sortOrder="2"/>
        <plugin name="m2studygroupunit1_pluginsorder_magento_framework_app_action_action_after3"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Controller\Index\Index\After3"
                sortOrder="3"/>
        <plugin name="m2studygroupunit1_pluginsorder_magento_framework_app_action_action_before4"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Controller\Index\Index\Before4"
                sortOrder="4"/>
        <plugin name="m2studygroupunit1_pluginsorder_magento_framework_app_action_action_around5"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Controller\Index\Index\Around5"
                sortOrder="5"/>
        <plugin name="m2studygroupunit1_pluginsorder_magento_framework_app_action_action_after6"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Controller\Index\Index\After6"
                sortOrder="6"/>
    </type>
    <!-- 1 BEFORE PLUGIN for AROUND2 plugin -->
    <type name="M2StudyGroupUnit1\PluginsOrder\Plugin\Controller\Index\Index\Around2">
        <plugin name="around2_before"
                type="M2StudyGroupUnit1\PluginsOrder\Plugin\Plugin\Controller\Index\Index\Around2\BeforeAround2"/>
    </type>
</config>