<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="m2studygroupunit1_pluginsorder"
               frontName="pluginsorder">
            <module name="M2StudyGroupUnit1_PluginsOrder"/>
        </route>
    </router>
</config>
